<!DOCTYPE html>
<html ng-app="MyCSSModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../angularJS/angular.min.js"></script>
    <script src="NgClass.js"></script>
    <link rel="stylesheet" href="NgClass.css">
</head>
<body>
<div ng-controller="HeaderController">
    <div ng-class="{error:isError,warning:isWarning}">{{messageText}}</div>
    <button ng-click="showError()">Error</button>
    <button ng-click="showWarning()">Warning</button>
</div>
</body>
</html>